* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(/image/landscape.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    margin-right: 50px;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}
ul li a:hover{
    color: blueviolet;
    background-color: yellow;
}

@media screen and (max-width:900px) {
    .navbar {
        padding: 0;
    }
    .navbar .logo {
        position: absolute;
        top: 30px;
        left: 10px;
    }

    .navbar .menu-hamburger {
        display: block;
        right: 120px;
        top: 35px;
    }

    .nav-links {
        top: -50px;
        left: -50px;
        position: absolute;
        background-color: rgba(211, 154, 154, 0.20);
        backdrop-filter: blur(8px);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1.5s ease;
    }
    /* top: 0px;
        left: 0px; léger décalage sur nav-links*/
    .nav-links.mobile-menu {
       margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}